*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAVBAR */

/* ancors de la barra nav */
.nav-link {
    color: white;
    font-size: large;
    font-weight: 600;
    border-radius: 20px;
    border: white solid 1.8px;
}
.nav-item{
    margin-left: 5px;
}

/* CARRUCEL */

/* imagenes del carrucel */
.slide img {
    height: 30vh;
    object-fit:cover;
}

/* contenedor Titulo home */
.carousel-caption {
    height: 80%;
}

/* FORMULARIO Y BARRA DE BUSQUEDAD */

/* contenedor de formulario y barra busquedad */
.row_padre {
    height: 13vh;
    width: 100%;
}

/* Barra busquedad search */
.barra_busq {
    border-radius: 15px;
    width: 90%;
}

/* boton inpunt y label de formulario */

label {
    margin-right: 10px;
    padding-right: 10px;
    font-size: large;
}

.btn_checkbox {
    width: 2.5vw;
    height: 2.5vh;
}

/* TARJETAS DETAILS EVENTS */

/* contenedor titulo de las tarjetas */
.card-title {
    text-align: center;
}
#cont_cards{
    border: red solid;
    width: 100%;
    height: 60%;
}

/* FOOTER */

/* Ancors facebook, instagram, whatsapp */

.red_social img{
    width: 5%;
    height: auto;
    margin-left: 2vw;
    border-radius: 40px;
}
.red_social{
    color: rgb(49, 49, 49);
}
/* footer */

.footer{
    height: 10vh;
}
.fpadre{
    height: 10vh;
    width: 99%;
}

/* PAGINA CONTACT */
/* Formulario */

.container_p{
    height: 78vh;
}
.container_h{
    width: 40%;
    height: 70%;
}
.container_h form{
    width: 90%;
    height: 90%;
}

/* PAGINA DETAILS */
/* Card */
.cont_p_details{
    height: 70vh;
    width: 90%;
}

.container_h_details{
    height: 85%;
    width: 90%;
}
.cont_n_1_details{
    height: 100%;
    width: 40%;
}
.cont_n_1_details img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont_n_2_details{
    height: 100%;
    width: 50%;
}

/* PAGINA STATS */

/* contenedor tabla */
.tabla{
    width: 100%;
    height: 50vh;
}
/* titulo h5 */

.tittle_table{
    border: black solid 2px;
    background-color: darkgray;
    color: black;
    height: 4.6vh;
    width: 80vw;
}
th, td{
    border: black solid 2px;
    width: 23.3vw;
    height: 4vh;
    padding-left: 20px;
}